table,
th,
td {
  border: 5px solid red;
  border-collapse: collapse;
  padding: 10px;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  /* margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0; */
}

h3 {
  margin: 0;
}

.container-1 {
  background-color: #4a5cff;
  padding: 1em;
  margin: 5px 1px 5px 1px;
  display: flex;
  flex-direction: row;
  align-items: start;
  border-radius: 1em;
  /* justify-content: space-between; */
  /* margin: 1rem; */
}

.container-2 {
  background-color: #3a2cdd;
  padding: 1rem;
}

.container-3 {
  background-color: #d2cfcf;
  padding: 3rem;
}

.tabel-biasa {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  width: 80%;
  margin: auto;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.tabel-biasa>th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  width: 80%;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.tabel-biasa>td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  width: 80%;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: black;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
}

.container {
  width: 100%;
  text-align: center;
}

.title-besar {
  margin-left: 5%;
  font-family: 'Roboto';
  font-size: 96px;
  font-weight: 900;
  color: white;
}

.subtitle-kecil {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 500;
  color: white;
  text-align: start;
}

.img-container img {
  width: 100%;
  height: 100%;

}

.img-container {
  width: 13%;
  height: 13%;
  margin: 5px;

}

.image-header {
  width: 100%;
  height: auto;
  margin-right: auto;
}

.striped-border {
  border: 1px solid #000;
  background-color: #000;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 1%;
}

.link-container {
  margin: auto;
  width: 38%;
  height: 13%;


}

.title-kecil {
  margin: auto;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: 900;
  color: white;
  padding: 3%;
}

.ref-link {
  color: aqua;
  text-decoration-line: none;
}

.butt-ref {
  padding: 2%;
  background-color: transparent;
  border: 0.5px solid turquoise;
}