*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container0 {
    background-color: #f8f8f8;
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    
}
.container2{
    height: 500px;
    width: 100%;
    background-color: #e2e1e0;
}
.container1{
    background-color: blue;
    width: 95%;
    height: 100%;
    margin: auto;
}
.containerheadline{
    background-color: #999999;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}
.container3{
    width: 100%;
    height: 300px;
    background-color: #3f3f3f;
    display: flex;
    flex-direction: row;
}

.container4{
    height: 100%;
    width: 45%;
    background-color: #b3b3b3;
}
.container5{
    height: 100%;
    width: 45%;
    align-items:flex-end;
    background-color: #727272;
}
.bunder{
    margin-top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #727272;
}
.teksheading{
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
    font-size:larger;
}
.part{
    width: 10%;
    height: 100%;
    background-color: #c7c7c7;
    
}
.gambaratas{
    width: 100%;
    height: 100%;
    
}
.gambarheadline{
    width: 100%;
    width: 50px;
    height: 100%;
    height: 50px;
    border-radius: 50%;
}
