*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container0 {
    background-color: #B7B7A4;
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    
}
.container2{
    height: 500px;
    width: 100%;
    background-color: #a5a58d;
}
.container1{
    background-color: blue;
    width: 95%;
    height: 100%;
    margin: auto;
}
.containerheadline{
    background-color: #B7B7A4;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.container3{
    width: 100%;
    height: 300px;
    background-color: #c5c5b4;
    display: flex;
    flex-direction: row;
}

.container4{
    height: 100%;
    width: 45%;
    background-color: #a5a58d;
}
.container5{
    height: 100%;
    width: 45%;
    align-items:flex-end;
    background-color: #a5a58d;
}
.bunder{
    margin-top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #6B705C;
}
.teksheading{
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
    font-size:larger;
}
.part{
    width: 10%;
    height: 100%;
    background-color: #B7B7A4;
    
}
.gambaratas{
    width: 100%;
    height: 100%;
}
.gambarprofile{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}